[Unit]
Description=Essential init commands for transformers-nuv
Before=xyz.openbmc_project.Software.BMC.Updater.service
After=phosphor-ipmi-host.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/transformers-nuv-init.sh

[Install]
WantedBy=multi-user.target
