[Unit]
Description = Check Host State to set fan failsafe speed

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/bin/transformers-check-host-state.sh

[Install]
WantedBy=multi-user.target