[Unit]
Description=Reload smbios-mdr to renew smbios table after BIOS_POST_CMPLT_N falling.

[Service]
ExecStart=/usr/sbin/smbios-mdr-reload.sh

[Install]
WantedBy=multi-user.target
