[Unit]
Description=Essential config init commands for starscream
Before=xyz.openbmc_project.EntityManager.service xyz.openbmc_project.FruDevice.service xyz.openbmc_project.nvme.manager.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/starscream-config-init.sh

[Install]
WantedBy=multi-user.target
