[Unit]
Description=Phosphor Inband IPMI
Wants=clear-once.service xyz.openbmc_project.Settings.service
DefaultDependencies=no
After=xyz.openbmc_project.Settings.service

[Service]
Restart=always
ExecStart=/usr/bin/env ipmid
SyslogIdentifier=ipmid
RuntimeDirectory = ipmi
RuntimeDirectoryPreserve = yes
StateDirectory = ipmi
Type=dbus
BusName=xyz.openbmc_project.Control.Host

[Install]
WantedBy=multi-user.target
Alias=xyz.openbmc_project.Control.Host.service
