// SPDX-License-Identifier: GPL-2.0-or-later
// Copyright 2019 IBM Corp.

/dts-v1/;

#include "aspeed-g6.dtsi"
#include "aspeed-g6-pinctrl.dtsi"
#include <dt-bindings/i2c/i2c.h>
#include <dt-bindings/gpio/aspeed-gpio.h>

/ {
        model = "STARSCREAM BMC";
        compatible = "inventec,starscream-bmc", "aspeed,ast2600";

        aliases {
                serial4 = &uart5;
        };

        chosen {
                stdout-path = &uart5;
                bootargs = "console=tty0 console=ttyS4,115200n8 root=/dev/ram rw init=/linuxrc";
        };

        memory@80000000 {
                device_type = "memory";
                reg = <0x80000000 0x80000000>;
        };

        reserved-memory {
                #address-cells = <1>;
                #size-cells = <1>;
                ranges;

                gfx_memory: framebuffer {
                        size = <0x01000000>;
                        alignment = <0x01000000>;
                        compatible = "shared-dma-pool";
                        reusable;
                };

                video_engine_memory: video {
                        size = <0x04000000>;
                        alignment = <0x01000000>;
                        compatible = "shared-dma-pool";
                        reusable;
                };

                ssp_memory: ssp_memory {
                        size = <0x00200000>;
                        alignment = <0x00100000>;
                        compatible = "shared-dma-pool";
                        no-map;
                };
#if 0
                espi_peripheral_memory: espi_peripheral_memory {
                        no-map;
                        reg = <0x98000000 0x04000000>; /* 64M */
                        size = <0x01000000>;
                        alignment = <0x01000000>;
                        compatible = "shared-dma-pool";
                        reusable;
                };
#endif
        };
        
        vga-shared-memory {
                compatible = "aspeed,ast2500-vga-sharedmem";
                reg = <0xbff00000 0x10000>;
        };

        iio-hwmon {
                compatible = "iio-hwmon";
                io-channels =
                    <&adc_u74 0>, // P0_VDD11
                    <&adc_u74 1>, // P1_VDD11
                    <&adc_u74 2>, // P0_3V3_S5
                    <&adc_u74 3>, // P1_3V3_S5
                    <&adc_u74 4>, // P3V3
                    <&adc_u74 5>, // VBAT
                    <&adc_u74 6>, // P3V3_STBY
                    <&adc_u74 7>, // P5V_STBY
                    <&adc_u74 8>, // P5V
                    <&adc_u74 9>, // P12V
                    <&adc_u74 10>, // P1_VDD18_S5
                    <&adc_u74 11> // P0_VDD18_S5
                    ;
        };

        leds {
                compatible = "gpio-leds";

                // UID led
                uid {
                    label = "UID_LED";
                    gpios = <&gpio0 ASPEED_GPIO(X, 2) GPIO_ACTIVE_LOW>;
                };

                // Heart beat led
                heartbeat {
                    label = "HB_LED";
                    gpios = <&gpio0 ASPEED_GPIO(P, 7) GPIO_ACTIVE_LOW>;
                };
        };
};

&mdio0 {
        status = "okay";

        ethphy0: ethernet-phy@0 {
                compatible = "ethernet-phy-ieee802.3-c22";
                reg = <1>;
        };
};

&mac2 {
        status = "okay";
        pinctrl-names = "default";
        phy-mode = "rmii";
        pinctrl-0 = <&pinctrl_rmii3_default>;
        use-ncsi;
};

&mac3 {
        status = "okay";

        phy-mode = "rgmii";
        phy-handle = <&ethphy0>;

        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_rgmii4_default>;
};

&fmc {
        status = "okay";
        flash@0 {
                status = "okay";
                m25p,fast-read;
                label = "bmc";
                spi-max-frequency = <50000000>;
                spi-tx-bus-width = <4>;
                spi-rx-bus-width = <4>;

                partitions {
                        compatible = "fixed-partitions";
                        #address-cells = <1>;
                        #size-cells = <1>;

                        u-boot@0 {
                                reg = <0x0 0xe0000>; // 896KB
                                label = "u-boot";
                        };

                        u-boot-env@e0000 {
                                reg = <0xe0000 0x20000>; // 128KB
                                label = "u-boot-env";
                        };

                        kernel@100000 {
                                reg = <0x100000 0x900000>; // 9MB
                                label = "kernel";
                        };

                        rofs@a00000 {
                                reg = <0xa00000 0x2000000>; // 32MB
                                label = "rofs";
                        };

                        rwfs@2a00000 {
                                reg = <0x2a00000 0x1600000>; // 22MB
                                label = "rwfs";
                        };
                };
        };

        flash@1 {
                status = "okay";
                m25p,fast-read;
                label = "bmc2";
                spi-max-frequency = <50000000>;
                spi-tx-bus-width = <4>;
                spi-rx-bus-width = <4>;
        };
};

&spi1 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_spi1_default>;

        flash@0 {
                status = "okay";
                m25p,fast-read;
                label = "bios";
                spi-max-frequency = <50000000>;
                spi-tx-bus-width = <4>;
                spi-rx-bus-width = <4>;
        };
};


&wdt1 {
       status = "okay";
};

&vuart1 {
        status = "okay";
};

&uart1 {
        status = "okay";
};

&uart3 {
        status = "okay";
};

&uart5 {
        status = "okay";
};

&kcs3 {
        reg = <0x2c 0x1>, <0x38 0x1>, <0x44 0x1>;
        aspeed,lpc-io-reg = <0xca2>;
        status = "okay";
};

&uart_routing {
        status = "okay";
};

#if 1 //using i2c mode instead of i3c
&i2c0 {
        status = "okay";
};
&i2c1 {
        status = "okay";
};
&i2c2 {
        status = "okay";
};
&i2c3 {
        status = "okay";
};
#endif

&i2c4 {
        status = "okay";

        // I2C EXPANDER
        i2c-switch@71 {
                compatible = "nxp,pca9546";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x71>;

                i2c@0 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
                        // AMD SB-TSI CPU1
                        sbtsi@4c {
                                compatible = "amd,sbtsi";
                                reg = <0x4c>;
                        };
                };

                i2c@1 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <1>;
                        // AMD SB-TSI CPU2
                        sbtsi@48 {
                                compatible = "amd,sbtsi";
                                reg = <0x48>;
                        };
                };
        };
};

&i2c5 {
        status = "okay";

        // I2C EXPANDER U153
        i2c-switch@70 {
                compatible = "nxp,pca9546";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x70>;

                usb_hub:i2c@0 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;

                        // USB U114
                        usb2512b@2c {
                                compatible = "microchip,usb2514b";
                                reg = <0x2c>;
                        };
                };

                riser1:i2c@1 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <1>;
                };

                riser2:i2c@2 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <2>;
                };

                i2c@3 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <3>;
                };
        };
};

&i2c6 {
        status = "okay";

        // FRU Motherboard
        eeprom@51 {
                compatible = "atmel,24c64";
                reg = <0x51>;
                pagesize = <32>;
        };

        // ADC_U74
        adc_u74:max1139@35 {
                compatible = "maxim,max1139";
                reg = <0x35>;
                #io-channel-cells = <1>;
        };

        // Motherboard Temp_U89
        tmp421@4e {
                compatible = "ti,tmp421";
                reg = <0x4e>;
        };

        // RunBMC Temp_U6
        tmp75@49 {
                compatible = "ti,tmp75";
                reg = <0x49>;
        };

        // Right ear board Temp_U1
        emc1412@7c {
                compatible = "emc1403";
                reg = <0x7c>;
        };
};

&i2c7 {
        status = "okay";
        // I2C EXPANDER U40
        i2c-switch@70 {
                compatible = "nxp,pca9545";
                #address-cells = <1>;
                #size-cells = <0>;
                reg = <0x70>;

                i2c@0 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <0>;
                };

                i2c@1 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <1>;
                };

                i2c@2 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <2>;
                };

                i2c@3 {
                        #address-cells = <1>;
                        #size-cells = <0>;
                        reg = <3>;
                };
        };
};


&i2c8 {
        status = "okay";
        // FRU RunBMC
        eeprom@51 {
                compatible = "atmel,24c512";
                reg = <0x51>;
                pagesize = <128>;
        };

        // Fan controller
        max31790@20 {
                compatible = "maxim,max31790";
                reg = <0x20>;
        };
        max31790@23 {
                compatible = "maxim,max31790";
                reg = <0x23>;
        };
        emc2302@2e {
                compatible = "smsc,emc2305";
                reg = <0x2e>;
        };

        pac1934@13 {
                compatible = "microchip,pac1934";
                reg = <0x13>;
                shunt-resistors = <4000 4000 4000 4000>;
        };

        pac1932@12 {
                compatible = "microchip,pac1932";
                reg = <0x12>;
                shunt-resistors = <4000 4000>;
        };
};

&i2c9 {
        status = "okay";
};

&i2c10 {
        status = "okay";
};

&i2c11 {
        status = "okay";
};

&i2c12 {
        status = "okay";
        // FRU SCM
        eeprom@51 {
                compatible = "atmel,24c512";
                reg = <0x51>;
                pagesize = <128>;
        };

        // SCM Temp_U17
        tmp75@4f {
                compatible = "ti,tmp75";
                reg = <0x4f>;
        };
};

#if 0 //using i2c mode instead of i3c
&i3cglobal {
        status = "okay";
};

&i3c2 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_hvi3c3_default>;
};

&i3c3 {
        status = "okay";
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_hvi3c4_default>;
};

&i3c4 {
        status = "okay";
};

&i3c5 {
        status = "okay";
};
#endif

&gpio0 {
    status = "okay";
    gpio-line-names =
    /*A0-A7*/   "","","","","","","","",
    /*B0-B7*/   "PSU0_SMB_ALERT_R_N","BMC_READY","","ASSERT_CPU0_PROCHOT_R_N","","","","",
    /*C0-C7*/   "","","","","","","","",
    /*D0-D7*/   "","","","","","","","",
    /*E0-E7*/   "","","","","","","","",
    /*F0-F7*/   "","","","","RST_BMC_SGPIO_R_N","","","",
    /*G0-G7*/   "","","SCM_JTAG_MUX_SE","","","","","",
    /*H0-H7*/   "","","","","RESET_OUT","POWER_OUT","","",
    /*I0-I7*/   "","","","","","","IRQ_BMC_CPU0_BUF_NMI_N","",
    /*J0-J7*/   "","","","","","","","",
    /*K0-K7*/   "","","","","","","","",
    /*L0-L7*/   "","","","","","","","",
    /*M0-M7*/   "","","","","","","","",
    /*N0-N7*/   "","","NCSI_OCP_CLK_EN_N","","","","","",
    /*O0-O7*/   "","","","","","","CPU1_THERMTRIP_N","",
    /*P0-P7*/   "","","","","","","","",
    /*Q0-Q7*/   "CPU0_PROCHOT_CPLD_N","","CPU1_PROCHOT_CPLD_N","","CPU0_PE_RST0","","","",
    /*R0-R7*/   "","","","","","","","",
    /*S0-S7*/   "","","","","","PCH_SLP_S4_BMC_N","CPU0_THERMTRIP_N","PSU1_SMB_ALERT_R_N",
    /*T0-T7*/   "","","","","","","","",
    /*U0-U7*/   "","","","","","","","",
    /*V0-V7*/   "BIOS_RECOVERY_BUF_N","","ASSERT_CPU1_PROCHOT_R_N","","PS_PWROK","","","",
    /*W0-W7*/   "","","","","","","","",
    /*X0-X7*/   "","","","","PLATFORM_TYPE","","","",
    /*Y0-Y7*/   "","","","","","","","",
    /*Z0-Z7*/   "","CPLD_PWRBRK_N","","","","","","",
    /*AA0-AA7*/ "","","","","","","","",
    /*AB0-AB7*/ "","","","","","","","",
    /*AC0-AC7*/ "","","","","","","","";
};

&sgpiom0 {
    status = "okay";
    max-ngpios = <64>;
    ngpios = <64>;
    bus-frequency = <1000000>;
    gpio-line-names =
    /*in - out - in - out */
    /*A0-A7*/   "","","","","","","","",
    /*A0-A7*/   "","","","","","","","",
    /*B0-B7*/   "","RST_BMC_CPU0_I2C_N","","RST_BMC_CPU1_I2C_N","","I2C_BUS7_RESET_N","","BMC_USB2514_1_RESET_N",
    /*B0-B7*/   "","BMC_CPU0_UART_EN","","HDT_BUF_EN_N","","BMC_ASSERT_CLR_CMOS","","HDT_MUX_SELECT_MON",
    /*C0-C7*/   "BUTTON_LED_UID","CPLD_JTAG_OE_R_N","CPU0_SPD_HOST_CTRL_N","CPLD_HDT_RESET_N","","I3C_MUX_SELECT","","SPI_MUX_SELECT",
    /*C0-C7*/   "","","","","","","","",
    /*D0-D7*/   "","","","","","","","",
    /*D0-D7*/   "","","","","","","FM_BIOS_POST_CMPLT_BUF_N","",
    /*E0-E7*/   "","","","","","","","",
    /*E0-E7*/   "","","","","","","","",
    /*F0-F7*/   "FAN0_INSTALL_R_N","","FAN1_INSTALL_R_N","","FAN2_INSTALL_R_N","","FAN3_INSTALL_R_N","",
    /*F0-F7*/   "FAN4_INSTALL_R_N","","FAN5_INSTALL_R_N","","CPU0_PRSNT_N","","CPU1_PRSNT_N","",
    /*G0-G7*/   "","","","","","","","",
    /*G0-G7*/   "","","","","PSU0_CPLD_PRESENT_N","","PSU1_CPLD_PRESENT_N","",
    /*H0-H7*/   "","","","","","","","",
    /*H0-H7*/   "","","","","RISER0_PRESENT_N","","RISER1_PRESENT_N","";
};


&jtag0 {
        status = "okay";
};

&jtag1 {
        status = "okay";
};

&espi {
        status = "okay";
};

&lpc_snoop {
        status = "okay";
        snoop-ports = <0x80>;
};

&emmc_controller {
        status = "okay";
        timing-phase = <0x700FF>;
};

&emmc {
        status = "okay";

        non-removable;
        max-frequency = <52000000>;
        sdhci-drive-type = /bits/ 8 <3>;
#if 0
        bus-width = <4>;
#else
        bus-width = <8>;
        pinctrl-0 = <&pinctrl_emmc_default
                        &pinctrl_emmcg8_default>;
#endif
};

&video {
        status = "okay";
        memory-region = <&video_engine_memory>;
};

&vhub {
        status = "okay";
        aspeed,vhub-downstream-ports = <7>;
        aspeed,vhub-generic-endpoints = <21>;
        pinctrl-names = "default";
        pinctrl-0 = <&pinctrl_usb2ad_default>;
};

&rtc {
        status = "okay";
};