[Unit]
Description=Phosphor-Pid-Control Margin-based Fan Control Daemon
After=xyz.openbmc_project.fansensor.service

[Service]
Type=simple
ExecStartPre=/usr/bin/fan-default-speed.sh
ExecStart=@BINDIR@/swampd
Restart=always
RestartSec=5
StartLimitInterval=0

[Install]
WantedBy=multi-user.target
